#contact {
  @extend .interior;
  #navcontact { @extend %active; }

  // Had to do this hack for the button
  .p {
    @include ms-respond(font-size, 0);
  }
  .first {
    margin: 0;
    padding: 0;
  }

  .logo {
    @include flexbox();
    @include flex-justify-content(start);
    margin-bottom: 1em;
  }

  // Two column

  .form {
    grid-area: form;
  }
  .text {
    grid-area: text;
  }
  .two {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "form text";
    padding: 0 20px;

    @include respond-to(handhelds) { 
      grid-template-columns: 1fr;
      grid-template-areas:
        "form"
        "text";
    }
    @include respond-to(wide-handhelds) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "form"
        "text";
    }
    @include respond-to(tablets) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "form text";
    }
    @include respond-to(desktops) { 
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "form text";
    }
    @include respond-to(max) { 
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "form text";
    }
  }

  // Contact information

  .contactus {
    grid-area: contactus;
    color: $LightYellow;
  }
  .information {
    grid-area: information;
  }
  .contactusinformation {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 5em 1fr;
    grid-template-areas:
      "contactus information";
    padding: 0 0 10px 0;

    @include respond-to(handhelds) { 
      grid-template-columns: 1fr;
      grid-template-areas:
        "contactus"
        "information";
    }
    @include respond-to(wide-handhelds) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "contactus"
        "information";
    }
    @include respond-to(tablets) {
      grid-template-columns: 5em 1fr;
      grid-template-areas:
        "contactus information";
    }
    @include respond-to(desktops) { 
      grid-template-columns: 5em 1fr;
      grid-template-areas:
        "contactus information";
    }
    @include respond-to(max) { 
      grid-template-columns: 5em 1fr;
      grid-template-areas:
        "contactus information";
    }

    p {
      @include ms-respond(font-size, 0);
      margin: 0;
      padding: 0;
    }
  }
}
