<script type="text/javascript">
  function setText(id, text) {
    var elt = document.getElementById(id)
    if (elt)
      elt.innerHTML = text
    else
      console.log('cannot setText; id not found: ', id)
  }

  function setButtonText(id, text) {
    var button = document.getElementById(id)
    if (button)
      button.textContent = text
    else
      console.log('cannot setButtonText; id not found: ', id)
  }

  function element(id) {
    var elt = document.getElementById(id)
    if (!elt)
      console.log('id not found: ', id)
    return elt
  }

  function getText(id) {
    var elt = document.getElementById(id)
    if (elt)
      return elt.innerHTML
    console.log( 'id not found: ' + id)

  }

  function renderIf(elt, condition) {
    elt.style.display = condition ? '' : 'none'
  }

  
  function showElementWithId(id) {
    renderIf(element(id), true)
  }

  function renderPost(id, offeringTechs, offeringTopics, topicFilterSelection, techFilterSelection) {
    var elt = document.getElementById(id)
    if (elt) {
      var shouldRender = (topicFilterSelection === '' && techFilterSelection === '') ||
        (topicFilterSelection === '' && offeringTechs.includes(techFilterSelection)) ||
        (offeringTopics.includes(topicFilterSelection) && techFilterSelection == '') ||
        (offeringTopics.includes(topicFilterSelection) && offeringTechs.includes(techFilterSelection));
      renderIf(elt, shouldRender);
    }
  }

  function renderPosts(topicFilterSelection, techFilterSelection) {
    {% for offering in site.offerings %}
      renderPost("{{ offering.id }}",
        {{ offering.languages | jsonify }}, 
        {{ offering.topics | jsonify }},
        topicFilterSelection, 
        techFilterSelection);
    {% endfor %}
  }

  function rerenderPosts() {
    var selectedTopic = getText('selectedTopic')
    var selectedTech = getText('selectedTech')
    renderPosts(selectedTopic, selectedTech)
  }

  function clearFilterSelection(displayElementId, buttonId) {
    setText(displayElementId, '')
    renderIf(element(buttonId), false)
    rerenderPosts()
  }

  function filterTopic(displayElementId, spanId, description, filterSelection) {
    setText(displayElementId, filterSelection)
    setButtonText('selectedTopicButton', description + ' \u00D7');
    showElementWithId(spanId)
    rerenderPosts()
  }

  function filterTech(displayElementId, spanId, description, filterSelection) {
    setText(displayElementId, filterSelection)
    setButtonText('selectedTechButton', description + ' \u00D7');
    showElementWithId(spanId)
    rerenderPosts()
  }
</script>

<section class="class-legend">
  <article class="filters">
    {% include filters.html %}
  </article>
  <article class="key">
    {% include skills-key.html %}
  </article>
  <article class="activeFilters">
    <span>Filters:
      <span id="selectedTopic" hidden></span>
      <span id="selectedTech" hidden></span>
      <button class="filterButton" id="selectedTopicButton" onClick="clearFilterSelection('selectedTopic', this.id)" style="display:none" />
      <button class="filterButton" id="selectedTechButton" onClick="clearFilterSelection('selectedTech', this.id)" style="display:none" />
    </span>
  </article>
</section>
