<script type="text/javascript">
  function setText(id, text) {
    var elt = document.getElementById(id)
    if (elt)
      elt.innerHTML = text
    else
      console.log('cannot setText; id not found: ', id)
  }

  function setButtonText(id, text) {
    var button = document.getElementById(id)
    if (button)
      button.textContent = text
    else
      console.log('cannot setButtonText; id not found: ', id)
  }

  function element(id) {
    var elt = document.getElementById(id)
    if (!elt)
      console.log('id not found: ', id)
    return elt
  }

  function getText(id) {
    var elt = document.getElementById(id)
    if (elt)
      return elt.innerHTML
    console.log( 'id not found: ' + id)

  }

  function renderIf(elt, condition) {
    elt.style.display = condition ? '' : 'none'
  }

  function showElementWithId(id) {
    renderIf(element(id), true)
  }
  
  function hideElementWithId(id) {
    renderIf(element(id), false)
  }

  function renderPost(id, offeringTechs, offeringTopics, topicFilterSelection, techFilterSelection) {
    var elt = document.getElementById(id)
    if (elt) {
      var shouldRender = (topicFilterSelection === '' && techFilterSelection === '') ||
        (topicFilterSelection === '' && offeringTechs.includes(techFilterSelection)) ||
        (offeringTopics.includes(topicFilterSelection) && techFilterSelection == '') ||
        (offeringTopics.includes(topicFilterSelection) && offeringTechs.includes(techFilterSelection))
      renderIf(elt, shouldRender)
      return shouldRender
    }
    return false
  }

  function renderPosts(topicFilterSelection, techFilterSelection) {
    var count = 0
    {% for offering in site.offerings %}
      var didRender = renderPost("{{ offering.id }}",
        {{ offering.languages | jsonify }}, 
        {{ offering.topics | jsonify }},
        topicFilterSelection, 
        techFilterSelection);
      if (didRender) count++
    {% endfor %}
    return count
  }

  function rerenderPosts() {
    var countOfRenderedPosts = renderPosts(getText('selectedTopic'), getText('selectedTech'))
    renderIf(element('noPosts'), countOfRenderedPosts == 0)
  }

  function clearFilterSelection(filterSelectionElementId, buttonId) {
    setText(filterSelectionElementId, '')
    hideElementWithId(buttonId)
    rerenderPosts()
  }

  const xGlyph = '\u00D7'

  function filter(filterSelectionElementId, filterSelectionButtonId, filterSelectionButtonText, filterSelection) {
    setText(filterSelectionElementId, filterSelection)
    setButtonText(filterSelectionButtonId, filterSelectionButtonText + ' ' + xGlyph);
    showElementWithId(filterSelectionButtonId)
    rerenderPosts()
  }
</script>

<section class="class-legend">
  <article class="filters">
    {% include filters.html %}
  </article>
  <article class="key">
    {% include skills-key.html %}
  </article>
  <article class="activeFilters">
    <span>Filters:
      <span id="selectedTopic" hidden></span>
      <span id="selectedTech" hidden></span>
      <button class="filterButton" id="selectedTopicButton" onClick="clearFilterSelection('selectedTopic', this.id)" style="display:none"></button>
      <button class="filterButton" id="selectedTechButton" onClick="clearFilterSelection('selectedTech', this.id)" style="display:none"></button>
    </span>
    <p id='noPosts' style='display:none'>No sessions matched your filter selections.</p>
  </article>
</section>
