<script type="text/javascript">
  function setText(id, text) {
    var topicHeader = document.getElementById(id)
    if (topicHeader)
      topicHeader.innerHTML = text
    else
      console.log('id not found: ', id)
  }

  function element(id) {
    return document.getElementById(id)
  }

  function getText(id) {
    return document.getElementById(id).innerHTML
  }

  function renderIf(element, condition) {
    element.style.display = condition ? '' : 'none'
  }

  function renderPost(id, offeringLanguages, offeringTopics, topicFilterSelection, languageFilterSelection) {
console.log('id: ' + id)
console.log('offering topics: ', offeringTopics)
console.log('selected topic: ', topicFilterSelection)
    var element = document.getElementById(id);
console.log('element: ', element)
    var shouldRender = (topicFilterSelection === '' && languageFilterSelection === '') ||
      (topicFilterSelection === '' && offeringLanguages.includes(languageFilterSelection)) ||
      (offeringTopics.includes(topicFilterSelection) && languageFilterSelection == '') ||
      (offeringTopics.includes(topicFilterSelection) && offeringLanguages.includes(languageFilterSelection));
    renderIf(element, shouldRender);
  }

  function renderPosts(topicFilterSelection, languageFilterSelection) {
    var id = 0;
    {% for offering in site.offerings %}
      renderPost("{{ offering.id }}",
        {{ offering.languages | jsonify }}, 
        {{ offering.topics | jsonify }},
        topicFilterSelection, languageFilterSelection);
    {% endfor %}
  }

  function clearFilterSelections(elementIds) {
    for (let i = 0; i < elementIds.length; i++)
      setText(elementIds[i], '');
    renderPosts('', '');
    renderIf(element('programmingLanguageFilters'), false)
    renderIf(element('selectedProgrammingLanguageFilter'), false)
    renderIf(element('selectedTopicFilter'), false)
    renderIf(element('clearFiltersButton'), false)
  }

  function filterUsingTopic(displayElementId, filterSelection, existingLanguageElementId) {
    setText(displayElementId, filterSelection)
    renderIf(element('programmingLanguageFilters'), true)
    renderIf(element('selectedProgrammingLanguageFilter'), true)
    renderIf(element('selectedTopicFilter'), true)
    renderIf(element('clearFiltersButton'), true)
    var existingLanguageFilter = getText(existingLanguageElementId)
    renderPosts(filterSelection, existingLanguageFilter)
  }

  function filterUsingLanguage(displayElementId, filterSelection, existingTopicElementId) {
    setText(displayElementId, filterSelection)
    var existingTopicFilter = getText(existingTopicElementId)
    renderPosts(existingTopicFilter, filterSelection)
    renderIf(element('clearFiltersButton'), true)
  }
</script>

<section class="class-legend">
  <article class="filters">
    <div>
      <p>Filter classes by topic: </p>
      {% assign all-selections = "" | split: "" %}
      {% for offering in site.offerings %}
        {% if page.pagename == "offerings" %}
          {% assign all-selections = all-selections | concat: offering.topics %}
        {% else %}
          {% if offering.tender-id == page.tender-id %}
            {% assign all-selections = all-selections | concat: offering.topics %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% assign all-selections = all-selections | uniq | sort %}
      <ul class="all-selections">
        {% for selection in all-selections %}
        <li>
          <a id="{{ selection }}" onclick="filterUsingTopic('selectedTopic', this.id, 'selectedLanguage')" href="javascript:void(0);">{{ selection }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div id="programmingLanguageFilters" style="display:none">
      {% assign all-selections = "" | split: "" %}
      {% for offering in site.offerings %}
        {% if page.pagename == "offerings" %}
          {% assign all-selections = all-selections | concat: offering.languages %}
        {% else %}
          {% if offering.tender-id == page.tender-id %}
            {% assign all-selections = all-selections | concat: offering.languages %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% assign all-selections = all-selections | uniq | sort %}
      {% if all-selections.size > 0 %}
      <p>Refine by programming language: </p>
      <ul class="all-selections">
        {% for selection in all-selections %}
        <li>
          <a id="{{ selection }}" onclick="filterUsingLanguage('selectedLanguage', this.id, 'selectedTopic')" href="javascript:void(0);">{{ selection }}</a>
        </li>
        {% endfor %}
      </ul>
      <p>Check the calendar listings for the next session in your language of choice.</p>
      <p>(You'll also find that PubMob sessions are great ways to get your fingers wet in a new language.)</p>
      {% endif %}
    </div>

    <div id="activeFilters">
      <button id="clearFiltersButton" 
        style="display:none"
        onclick="clearFilterSelections(['selectedTopic', 'selectedLanguage'])">
        Clear filters
      </button>
      <p id="selectedTopicFilter" style="display:none">Showing all classes on topic: <b><span id="selectedTopic" /></b></p>
      <p id="selectedProgrammingLanguageFilter" style="display:none">Using the programming language: <b><span id="selectedLanguage" /></b></p>
    </div>

  </article>
  {% include skills-key.html %}
</section>
