<div>
  <p>Filter by topic:</p>
  {% assign all-selections = "" | split: "" %}
  {% for offering in site.offerings %}
    {% if page.pagename == "offerings" %}
      {% assign all-selections = all-selections | concat: offering.topics %}
    {% else %}
      {% if offering.session-lead-id == page.session-lead-id %}
        {% assign all-selections = all-selections | concat: offering.topics %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign all-selections = all-selections | uniq | sort %}
  <ul class="all-selections">
    {% for selection in all-selections %}
    <li>
      <a id="{{ selection }}" onclick="filter('selectedTopic', 'selectedTopicFilter', this.id)" href="javascript:void(0);">{{ selection }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="techFilters">
  {% assign all-selections = "" | split: "" %}
  {% for offering in site.offerings %}
    {% if page.pagename == "offerings" %}
      {% assign all-selections = all-selections | concat: offering.languages %}
    {% else %}
      {% if offering.session-lead-id == page.session-lead-id %}
        {% assign all-selections = all-selections | concat: offering.languages %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign all-selections = all-selections | uniq | sort %}
  {% if all-selections.size > 0 %}
  <p>Filter by technology:</p>
  <ul class="all-selections">
    {% for selection in all-selections %}
    <li>
      <a id="{{ selection }}" onclick="filter('selectedTech', 'selectedTechFilter', this.id)" href="javascript:void(0);">{{ selection }}</a>
    </li>
    {% endfor %}
  </ul>
<!--      <p>Check the calendar listings for the next session in your language of choice.</p>
<p>(You'll also find that PubMob sessions are great ways to get your fingers wet in a new language.)</p> -->
  {% endif %}
</div>

