<div class="footer-grid">
  <div class="column-left">
    {% include logo.html %}
    <div class="contactbox flex">
      <ul class="contact">
        <li>
          <span class='small'>[c] </span>
          <a href="/contact">
            <span class='small'>Contact</span>
          </a>
        </li>
        <li>
          <span class='small'>[p] </span>
          <a href="tel:{{ site.phone.actual }}">
            <span class='small'>{{ site.phone.reference }}</span>
          </a>
        </li>
        <li>
          <span class='small'>[e] </span>
          <a href="{{ site.email.subject }}">
             <span class='small'>{{ site.email.address }}</span>
          </a>
        </li>
        <li>
          <span class='small'>[s] </span>
          <a href="{{ site.appointment }}">
             <span class='small'>Schedule time with Jeff</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="column-right">
    <ul class="social">
      <li><a href="{{site.twitter}}"><p><i class='fab fa-twitter-square'></i></p></a></li>
      <li><a href="{{site.github}}"><p><i class='fab fa-github-square'></i></p></a></li>
      <li><a href="{{site.facebook}}"><p><i class='fab fa-facebook'></i></p></a></li>
    </ul>
    <p class="copyright"><span>Copyright &copy; {{ 'now' | date: "%Y"}} Langr Software Solutions.</span> <span>All rights reserved</span></p>
  </div>
</div>
