{% if offering.active %}
<div id="{{ offering.id }}">
  <section class="offerings-listing-element">
    <article class="left">
      <h1><a href="{{ offering.id }}">{{ offering.name }}</a></h1>
      {% if page.pagename == "offerings" %}
        <h2><a href="/pubs/{{ offering.session-lead-id }}">{{ offering.session-lead-name }}</a></h2>
      {% endif %}

      {% include summary.html summary=offering.twelve-words-or-fewer %}
      {% include summary-blurb.html %}
      {% include upcoming-sessions.html next-available-sessions=offering.next-available-sessions link=offering.booking-link %}

    </article>
    <article class="right offering-details">
      {% include topics.html topics=offering.topics %}
      {% include languages.html languages=offering.languages %}
      {% include student-level.html exercise-skill=offering.exercise-skill %}
      {% include price-duration.html %}
      {% include mob-tech.html mob-tech=offering.mob-tech %}
    </article>
  </section>
</div>
{% endif %}
