<ul class="top">
  <li>
    <img class="small-icon" src="/assets/images/misc-icons/beginner.png"/>
    <p>Introductory</p>
  </li>
  <li>
    <img class="small-icon" src="/assets/images/misc-icons/intermediate.png"/>
    <p>Intermediate</p>
  </li>
  <li>
    <img class="small-icon" src="/assets/images/misc-icons/expert.png"/>
    <p>Advanced</p>
  </li>
</ul>
<ul>
  <li>
    <img class="small-icon" src="/assets/images/misc-icons/experienced-mobbers.svg"/>
    <p>Experienced mobbers</p>
  </li>
</ul>
