.contactbox.flex {
  @include flexbox();
  @include respond-to(handhelds) { 
    @include flex-justify-content(center);
  }
  @include respond-to(wide-handhelds) {
    @include flex-justify-content(right);
  }
  @include respond-to(tablets) {
    @include flex-justify-content(right);
  }
  @include respond-to(desktops) { 
    @include flex-justify-content(right);
  }
  @include respond-to(max) {
    @include flex-justify-content(right);
  }
}

footer {
  white-space: nowrap;
  border-top-style: solid;
  border-top-color: $DarkBlue;
  border-top-width: 2px;
  font-weight: 400;
  margin: 20px 0 0 0;
  padding: 0;

  background-color: $footer-background;

  .logo {
    @include flexbox();
    @include flex-justify-content(center);
    @media only screen and (min-width: $breakpoint-tablet) { justify-content: right; }
    margin-bottom: 1em;

    img {
      object-fit: contain;
      max-width: 330px;
    }
  }

  .footerbar {
    border-top-style: solid;
    border-top-color: $LightBlue;
    border-top-width: 1px;
  }

  .column-left {
  }

  .column-right {
    @include respond-to(handhelds) { 
      text-align: right;
    }
    @include respond-to(wide-handhelds) {
      text-align: right;
    }
    @include respond-to(tablets) {
      text-align: right;
    }
    @include respond-to(desktops) { 
      text-align: right;
    }
    @include respond-to(max) {
      text-align: right;
    }
  }

  ul.social {
    padding: 0;
    margin: 0 0 2em 0;
  }

  ul.social li {
    display: inline;
    padding-right: .7em;
    &:last-child { padding-right: 0; }
    a { @include link-styles($footer-action-color, $footer-link-color); }
  }

  ul.social i {
    font-weight: 400;
    @include ms-respond(font-size, 3.5);
  }

  .copyright {
    padding: 0;
    text-align: center;
    @include respond-to(handhelds) { 
      margin: 0;
      @include ms-respond(font-size, -0.3);
    }
    @include respond-to(wide-handhelds) {
      margin: 0;
      @include ms-respond(font-size, -0.5);
    }
    @include respond-to(tablets) {
      margin: 0;
      @include ms-respond(font-size, -0.3);
    }
    @include respond-to(desktops) { 
       margin: 3em 0 0 0;
      @include ms-respond(font-size, -0.3);
    }
    @include respond-to(max) {
      margin: 3em 0 0 0;
      @include ms-respond(font-size, -0.3);
    }
  }
}
