//header {
////  position: relative;
//  height: $header-height;
//  width: 100%;
//  background-color: $header-background-color;
//  display: grid;
//}
//
//header .column-left {
//  @include respond-to(handhelds) { 
//    @include flexbox();
//    @include flex-justify-content(space-between);
//  }
//  @include respond-to(wide-handhelds) {
//    @include flexbox();
//    @include flex-justify-content(space-between);
//  }
//  @include respond-to(tablets) {
//  }
//  @include respond-to(desktops) { 
//  }
//  @include respond-to(max) { 
//  }
//}
.header {
  display: grid;
  grid-gap: 0px;
  z-index: 5;
//  height: $header-height;

  grid-template-rows: $header-height;

  .column-left {
    grid-area: column-left;
    align-content: stretch;
  }

  .column-right {
    grid-area: column-right;
  }

  @include respond-to(handhelds) { 
    grid-template-columns: 12fr;
    grid-template-areas:
      "column-left"
      "column-right";
  }
  @include respond-to(wide-handhelds) {
    grid-template-columns: 12fr;
    grid-template-areas:
      "column-left"
      "column-right";
  }
  @include respond-to(tablets) {
    grid-template-columns: 6fr 6fr;
    grid-template-areas:
      "column-left column-right";
  }
  @include respond-to(desktops) { 
    grid-template-columns: 6fr 6fr;
    grid-template-areas:
      "column-left column-right";
  }
  @include respond-to(max) { 
    grid-template-columns: 6fr 6fr;
    grid-template-areas:
      "column-left column-right";
  }
}

header .logo {
//  image-fit: contain;
  max-width: 500px;
  padding-left: $base-spacing;

  /*
  @include respond-to(handhelds) { 
    @include vertical-center(flex);
  }
  @include respond-to(wide-handhelds) {
    @include vertical-center(flex);
  }
  @include respond-to(tablets) {
    @include vertical-center(transform);
  }
  @include respond-to(desktops) { 
    @include vertical-center(transform);
  }
  @include respond-to(max) { 
    @include vertical-center(transform);
  }
  */
}

#menu {
  height: $header-height;
  width: 86px;
  position: relative;

  padding-right: 2*$base-spacing;

  img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  @include respond-to(handhelds) { 
    display: block;
  }
  @include respond-to(wide-handhelds) {
    display: block;
  }
  @include respond-to(tablets) {
    display: none;
  }
  @include respond-to(desktops) { 
    display: none;
  }
  @include respond-to(max) { 
    display: none;
  }
}
