.offerings-listing-element {
  display: grid;
  grid-template-columns: minmax(80%,1fr) minmax(19%,1fr);
  grid-template-areas: "offering-left offering-right";
  grid-gap: 10px 20px;

  background-color: $White;
  border-top-style: solid;
  border-top-color: #A7A9AC;
  border-top-width: 2px;
  margin: 0 0 20px 0;
  padding: 30px 10px 10px 10px;

  .left {
    grid-area: offering-left;
  }

  .right {
     grid-area: offering-right;   
     padding: 50px 0 0 0;
  }

  h1 { text-align: left; }
  h2 { margin-top: 10px; }

  @include respond-to(handhelds) { 
    grid-template-columns: 1fr;
    grid-template-areas: "offering-left" 
                         "offering-right";
    .right { padding: 0; }
  }
  @include respond-to(wide-handhelds) {
    grid-template-columns: 1fr;
    grid-template-areas: "offering-left" 
                         "offering-right";
    .right { padding: 0; }
  }
  @include respond-to(tablets) {
    grid-template-columns: minmax(80%,1fr) minmax(19%,1fr);
    grid-template-areas: "offering-left offering-right";
    .right { padding: 10px 0 0 0; }
  }
  @include respond-to(desktops) { 
    grid-template-columns: minmax(80%,1fr) minmax(19%,1fr);
    grid-template-areas: "offering-left offering-right";
    .right { padding: 10px 0 0 0; }
  }
  @include respond-to(max) { 
    grid-template-columns: minmax(80%,1fr) minmax(19%,1fr);
    grid-template-areas: "offering-left offering-right";
    .right { padding: 10px 0 0 0; }
  }
}

