#offerings {
  @extend .interior;
  #navofferings { @extend %active; }

  h1 {
    margin: 0;
    padding: 0;
  }

  .left {
    grid-area: offering-left;
  }

  .right {
    grid-area: offering-right;
  }

  .offering {
    display: grid;
    grid-template-columns: minmax(70%,1fr) minmax(29%,1fr);
    grid-template-areas: "offering-left offering-right";
    grid-gap: 10px 20px;

    background-color: $LightGreyishBlue;
    border-top-style: solid;
    border-top-color: #000;
    border-top-width: 2px;
    margin: 0 0 20px 0;
    padding: 10px;

    .left {
    }

    .right {
      padding: 50px 0 0 0;

      .icon {
          width: 48px;
          max-width: 48px;
      }
     
      .student-level {
        img { height: 64px; width: auto; }
      }

      .programming-language {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
        grid-gap: 3px;
      }

      .tech {
        ul {
          overflow: auto;
          list-style-type: none;
        }
         
        li {
          height: 25px; 
          float: left; 
          margin-right: 0px; 
          border-right: 1px solid #aaa; 
          padding: 0 10px;
        }
         
        li:last-child {
          border-right: none;
        }
      }
    }
    
    .longer-description {
      @include ms-respond(font-size,0.6);
      line-height: 1.3;
      margin-bottom: 3px;
    }

    @include respond-to(handhelds) { 
      grid-template-columns: 1fr;
      grid-template-areas: "offering-left" "offering-right";
      .right {
        padding: 0;
      }
    }
    @include respond-to(wide-handhelds) {
      grid-template-columns: 1fr;
      grid-template-areas: "offering-left" "offering-right";
      .right {
        padding: 0;
      }
    }
    @include respond-to(tablets) {
      grid-template-columns: minmax(70%,1fr) minmax(29%,1fr);
      grid-template-areas: "offering-left offering-right";
      .right {
        padding: 10px 0 0 0;
      }
    }
    @include respond-to(desktops) { 
      grid-template-columns: minmax(70%,1fr) minmax(29%,1fr);
      grid-template-areas: "offering-left offering-right";
      .right {
        padding: 10px 0 0 0;
      }
    }
    @include respond-to(max) { 
      grid-template-columns: minmax(70%,1fr) minmax(29%,1fr);
      grid-template-areas: "offering-left offering-right";
      .right {
        padding: 10px 0 0 0;
      }
    }
  }

  .all-topics {
    @include ms-respond(font-size,0.6);
    li {
      display: inline;
    }
    li+li:before
    {
      content: '| ';
    }
  }
}

.offering-box {
  height: 150px;
  width: 280px;
}

.team-title a {
	text-align: center;
}

.offering-name {
  padding-top: 15%;
	text-align: center;
  color: #545c56;
}

.desk p {
	font-size: 15px;
}
