#offering {
  @extend .interior;
  #navtenders { @extend %active; }

  .offering-grid {
    display: grid;
    grid-template-columns: minmax(55%,1fr) minmax(44%,1fr);
    grid-template-areas: "left right";
    grid-gap: 10px 20px;

    $size_about_left: 50%;
    $size_about_right: 50%;

    .left { 
      grid-area: left;
    }
    .right { 
      grid-area: right; 
      padding: 50px 0 0 0;
    }

    .session-lead {
      margin-top: 30px;
      margin-bottom: 10px;
    }

    @include respond-to(handhelds) { 
      grid-template-columns: 1fr;
      grid-template-areas:
        "left"
        "right";
    }
    @include respond-to(wide-handhelds) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "left"
        "right";
    }
    @include respond-to(tablets) {
      grid-template-columns: minmax($size_about_left,1fr) minmax($size_about_right,1fr);
      grid-template-areas:
        "left right";
    }
    @include respond-to(desktops) { 
      grid-template-columns: minmax($size_about_left,1fr) minmax($size_about_right,1fr);
      grid-template-areas:
        "left right";
    }
    @include respond-to(max) { 
      grid-template-columns: minmax($size_about_left,1fr) minmax($size_about_right,1fr);
      grid-template-areas:
        "left right";
    }
  }
}
