#pub {
  @extend .interior;
  #navtenders { @extend %active; }

  $size_about_left: 50%;
  $size_about_right: 50%;

  .tender {
    grid-area: about-left;
    .tech {
      @include ms-respond(font-size,0.5);
    }
  }
  .pubDetails {
    grid-area: about-right;

    figcaption {
      @include ms-respond(font-size,0.6);
      text-align: center;
    }
  }
  .about {
    display: grid;
    grid-template-columns: minmax($size_about_left,1fr) minmax($size_about_right,1fr);
    grid-template-areas:
      "about-left about-right";
    grid-gap: 10px 20px;

    .tagline {
      font-style: italic;
    }

    .tender {
      img { width: 66%; height: auto; }
    }

    .pubDetails {
    }

    .openEndedPubMarkdown {
      margin-top: 20px;
    }

    @include respond-to(handhelds) { 
      grid-template-columns: 1fr;
      grid-template-areas:
        "about-left"
        "about-right";
    }
    @include respond-to(wide-handhelds) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "about-left"
        "about-right";
    }
    @include respond-to(tablets) {
      grid-template-columns: minmax($size_about_left,1fr) minmax($size_about_right,1fr);
      grid-template-areas:
        "about-left about-right";
    }
    @include respond-to(desktops) { 
      grid-template-columns: minmax($size_about_left,1fr) minmax($size_about_right,1fr);
      grid-template-areas:
        "about-left about-right";
    }
    @include respond-to(max) { 
      grid-template-columns: minmax($size_about_left,1fr) minmax($size_about_right,1fr);
      grid-template-areas:
        "about-left about-right";
    }
  }

  .left {
    grid-area: tender-left;
  }
  .right {
    grid-area: tender-right;
  }
  .offering {
    display: grid;
    grid-template-columns: minmax(70%,1fr) minmax(29%,1fr);
    grid-template-areas:
      "tender-left tender-right";
    grid-gap: 10px 20px;

    background-color: #eee;
    border-top-style: solid;
    border-top-color: #000;
    border-top-width: 2px;
    margin: 0 0 20px 0;
    padding: 10px;

    .left {
    }

    .right {
      padding: 50px 0 0 0;

      .icon {
          width: 48px;
          max-width: 48px;
      }
     
      .student-level {
        img { height: 48px; width: auto; }
      }

      .programming-language {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
        grid-gap: 3px;
      }

      .tech {
        ul {
          overflow: auto;
          list-style-type: none;
        }
         
        li {
          height: 25px; 
          float: left; 
          margin-right: 0px; 
          border-right: 1px solid #aaa; 
          padding: 0 10px;
        }
         
        li:last-child {
          border-right: none;
        }
      }
    }
    
    .longer-description {
      @include ms-respond(font-size,0.6);
      line-height: 1.3;
      margin-bottom: 3px;
    }

    @include respond-to(handhelds) { 
      grid-template-columns: 1fr;
      grid-template-areas:
        "tender-left"
        "tender-right";

      .right {
        padding: 0;
      }
    }
    @include respond-to(wide-handhelds) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "tender-left"
        "tender-right";
      .right {
        padding: 0;
      }
    }
    @include respond-to(tablets) {
      grid-template-columns: minmax(70%,1fr) minmax(29%,1fr);
      grid-template-areas:
        "tender-left tender-right";
      .right {
        padding: 10px 0 0 0;
      }
    }
    @include respond-to(desktops) { 
      grid-template-columns: minmax(70%,1fr) minmax(29%,1fr);
      grid-template-areas:
        "tender-left tender-right";
      .right {
        padding: 10px 0 0 0;
      }
    }
    @include respond-to(max) { 
      grid-template-columns: minmax(70%,1fr) minmax(29%,1fr);
      grid-template-areas:
        "tender-left tender-right";
      .right {
        padding: 10px 0 0 0;
      }
    }
  }
}
