#pub {
  @extend .interior;
  #navtenders { @extend %active; }

  $size_about_left: 50%;
  $size_about_right: 50%;

  .openEndedPubMarkdown {
    border-top: 3px solid #000; 
    @include ms-respond(font-size,2.6);
    margin-top: 10px;
    padding-top: 10px;
  }

  .tender {
    grid-area: about-left;
    .tech {
      @include ms-respond(font-size,0.5);
    }
  }
  .pubDetails {
    grid-area: about-right;

    figcaption {
      @include ms-respond(font-size,0.6);
      text-align: center;
    }
  }
  .about {
    display: grid;
    grid-template-columns: minmax($size_about_left,1fr) minmax($size_about_right,1fr);
    grid-template-areas:
      "about-left about-right";
    grid-gap: 10px 20px;

    .tagline {
      font-style: italic;
    }

    .tender {
      img { width: 66%; height: auto; }
    }

    .pubDetails {
    }

    @include respond-to(handhelds) { 
      grid-template-columns: 1fr;
      grid-template-areas:
        "about-left"
        "about-right";
    }
    @include respond-to(wide-handhelds) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "about-left"
        "about-right";
    }
    @include respond-to(tablets) {
      grid-template-columns: minmax($size_about_left,1fr) minmax($size_about_right,1fr);
      grid-template-areas:
        "about-left about-right";
    }
    @include respond-to(desktops) { 
      grid-template-columns: minmax($size_about_left,1fr) minmax($size_about_right,1fr);
      grid-template-areas:
        "about-left about-right";
    }
    @include respond-to(max) { 
      grid-template-columns: minmax($size_about_left,1fr) minmax($size_about_right,1fr);
      grid-template-areas:
        "about-left about-right";
    }
  }
}
