.pub {
  @extend .interior;
  #navtenders { @extend %active; }
 
  img {
    height: auto;
    width: auto;
    max-width: 1200px;
  }

  .offeringSummary {
    .offeringName {
      @include ms-respond(font-size, 1.3);
    }
 
    .offeringDetails {
      margin: 0 $base-spacing 0 $base-spacing;
      padding: 0;
    }
  }

  .left {
    grid-area: tender-left;
  }
  .right {
    grid-area: tender-right;
  }
  .tender {
    display: grid;
    grid-template-columns: minmax(70%,1fr) minmax(29%,1fr);
    grid-template-areas:
      "tender-left tender-right";
    grid-gap: 10px 20px;

    background-color: #eee;
    border-top-style: solid;
    border-top-color: #000;
    border-top-width: 2px;
    margin: 0 0 20px 0;
    padding: 10px;

    .left {
    }

    .right {
      padding: 50px 0 0 0;

      .icon {
          width: 64px;
          max-width: 64px;
//          width:100%; /* IE */
      }
     
      .student-level {
        img { height: 64px; width: auto; }
      }
      .programming-language {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
        grid-gap: 3px;
      }
      .tech {
        ul {
          overflow: auto;
          list-style-type: none;
        }
         
        li {
          height: 25px; 
          float: left; 
          margin-right: 0px; 
          border-right: 1px solid #aaa; 
          padding: 0 10px;
        }
         
        li:last-child {
          border-right: none;
        }
      }
    }
    
    .longer-description {
      @include ms-respond(font-size,0.6);
      line-height: 1.3;
      margin-bottom: 3px;
    }

    @include respond-to(handhelds) { 
      grid-template-columns: 1fr;
      grid-template-areas:
        "tender-left"
        "tender-right";

      .right {
        padding: 0;
      }
    }
    @include respond-to(wide-handhelds) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "tender-left"
        "tender-right";
      .right {
        padding: 0;
      }
    }
    @include respond-to(tablets) {
      grid-template-columns: minmax(70%,1fr) minmax(29%,1fr);
      grid-template-areas:
        "tender-left tender-right";
      .right {
        padding: 10px 0 0 0;
      }
    }
    @include respond-to(desktops) { 
      grid-template-columns: minmax(70%,1fr) minmax(29%,1fr);
      grid-template-areas:
        "tender-left tender-right";
      .right {
        padding: 10px 0 0 0;
      }
    }
    @include respond-to(max) { 
      grid-template-columns: minmax(70%,1fr) minmax(29%,1fr);
      grid-template-areas:
        "tender-left tender-right";
      .right {
        padding: 10px 0 0 0;
      }
    }
  }





// TODO how to reuse this on the offerings page without duplication
  .tech {
    ul {
      overflow: auto;
      list-style-type: none;
    }
     
    li {
      height: 25px;
      float: left;
      margin-right: 0px;
      border-right: 1px solid #aaa;
      padding: 0 10px;
    }
     
    li:last-child {
      border-right: none;
    }
     
    li a {
      text-decoration: none;
      color: #ccc;
      //font: 25px/1 Helvetica, Verdana, sans-serif;
      text-transform: uppercase;
     
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }
  
  .collapse-btn {
   padding: 0px 0px !important;
   text-align: left !important;
  }

  .offeringBlurb {
  	color: #595959;
  }
  
  .offeringDescription p {
  	font-size: 18px;
	width: 650px;
    overflow-wrap: break-word;
  }
  
  .offeringDescription {
  	border-left: 2px solid #595959;
	margin-left: 25px;
	padding-left: 25px;
  	font-size: 18px;
  }
 
  .aboutTender {
  	background-color: white;
  }

  .aboutTender td {
	background-color: white;
	padding-left: 15px;
	vertical-align: top;
  }
  
  .aboutTender td p {
	font-size: 18px;
  }
}
