---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body id="{{page.pagename}}">
    <header>
      <div class="grid">
        <div class="content">
          {% include header.html %}
         </div>
      </div>
    </header>

    {{ page.pre-content }}

    <article>
      <div class="grid">
        <div class="content">
          <h3>{{ page.name }}</h3>
          {% if page.graphic %}
            <img src="/assets/images/offerings/{{page.session-lead-id}}/{{page.graphic}}" style="width: 225px" />
          {% endif %}

        {% include booking-button.html link=page.booking-link %}

        <div class="indent" style="float: right">
          <img src="/assets/images/pubs/{{ page.session-lead-id }}.jpg" style="width: 225px" />
          <p>{{ site.session-lead-term | capitalize }}: <a href="/pubs/{{page.session-lead-id}}">{{ page.session-lead-name }}</a></p>
        </div>

        <div>
          <br />
           {% include summary.html summary=page.twelve-words-or-fewer %}
           <p>{{ page.summary-blurb-300-words }}</p>
           <!-- % include student-level.html exercise-skill=page.exercise-skill % -->
           <p>Upcoming dates: TBD</p>
        </div>

        {{ content }}

        </div>
      </div>
<!--      <div>
        {% include booking-button.html link=page.booking-link %}
      </div>
-->
    </article>
    {{ page.post-content }}
     <div>
    </div>
     <footer>
      <div class="footerbar"></div>
      <div class="grid">
        <div class="content">
          <div class="indent">
          {% include footer.html %}
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
