---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body id="{{page.pagename}}">
    <header>
      <div class="grid">
        <div class="content">
          {% include header.html %}
         </div>
      </div>
    </header>
    {{ page.pre-content }}

    <section class="offering">
      <article class="left">
          <h3>{{ page.name }}</h3>
          {% include summary.html summary=page.twelve-words-or-fewer %}
          <p>{{ page.summary-blurb-80-words }}</p>
          {% include student-level.html exercise-skill=page.exercise-skill %}
          <p>Topics:</p>
          <p>Technologies:</p>
          <p>Repo:</p>
          <p>Prerequisites:</p>
          <p>Upcoming dates: TBD</p>
          {% include booking-button.html link=page.booking-link %}
      </article>
      <article class="right">
        <img src="/assets/images/pubs/{{ page.session-lead-id }}.jpg" style="width: 225px" />
        <p>{{ site.session-lead-term | capitalize }}: <a href="/pubs/{{page.session-lead-id}}">{{ page.session-lead-name }}</a></p>
        {% if page.graphic %}
          <img src="/assets/images/offerings/{{page.session-lead-id}}/{{page.graphic}}" style="width: 225px" />
        {% endif %}
      </article>

    </section>

    <section>
    {{ content }}
    </section>

    {{ page.post-content }}
     <footer>
      <div class="footerbar"></div>
      <div class="grid">
        <div class="content">
          <div class="indent">
          {% include footer.html %}
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
