---
title: PubMob | Pubs
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body id="{{page.pagename}}">
    <header>
      <div class="grid">
        <div class="content">
          {% include header.html %}
         </div>
      </div>
    </header>

    {{ page.pre-content }}

    <div class="grid">
      <div class="content">
        <div class="indent">
          <h1>Welcome to {{page.pub-name}}</h1>
          {% if page.tagline %}
          <p class="tagline">{{ page.tagline }}</p>
          {% endif %}

          <section class="about">
            <article class="tender">
              <h3>Your tender: {{page.tender-name}}</h3>
              <div><img src="/assets/images/{{ page.id }}.{{page.tender-photo-extension}}" /></div>

              <h3>About Your Tender</h3>
              <p>{{ page.tender-blurb }}</p>
              <div>
              <p>{{ page.tender-short-name }} offers sessions on the following topics:</p>
              <p class="tech">{{ page.topics | join: " | " }}</p>
              {% assign languages-length = page.languages | size %}
              {% if languages-length > 0 %}
                <p>And is versed in the following languages:</p>
                <p class="tech">{{ page.languages | join: " | " }}</p>
              {% endif %}
              </div>
            </article>

            <article class="pubDetails">
              <div>
                <p>{{ page.pub-summary-twenty-words }}</p>
                {% if page.pub-photo %}
                <figure>
                  <img src="/assets/images/{{ page.id }}/{{ page.pub-photo }}" />
                  {% if page.pub-photo-caption %}
                  <figcaption>{{ page.pub-photo-caption }}</figcaption>
                  {% endif %}
                </figure>
                {% endif %}
              </div>
            </article>

          </section>

          <section class="openEndedPubMarkdown">
            <div>
            {{ content | markdownify }}
            </div>
          </section>


          <section>
            {% include class-legend.html %}

            {% for offering in site.offerings %}
              {% if offering.tender-id == page.tender-id %}
                {% include offering.html %}
              {% endif %}
            {% endfor %}
          </section>

          <h3>About <a href="{{page.company-link}}">{{ page.company }}</a></h3>
          <p>{{ page.company-blurb }}</p>
          <a href="{{ page.company-link }}"><img src="{{ page.company-logo-url }}" alt="{{ page.company }}"/></a>

          {{ page.post-content }}

            <div>
          </div>  
        </div>
      </div>
    </div>
	
    <footer>
      <div class="footerbar"></div>
      <div class="grid">
        <div class="content">
          <div class="indent">
          {% include footer.html %}
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
