---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body id="{{page.pagename}}" class="tender">
    <header>
      <div class="grid">
        <div class="content">
          {% include header.html %}
         </div>
      </div>
    </header>
    {{ page.pre-content }}
    <article>
      <div class="grid">
        <div class="content">
          <div class="indent">
          <h3>Welcome to {{page.pub-name}}</h3>
          <p>Your tender: {{page.tender-name}}</p>
          <img src="/assets/images/{{ page.id }}.{{page.tender-photo-extension}}" style="width: 225px" />
          </div>

          <div>
            <ul class="tech">
              {% for tech in page.technologies %}
                <li>{{ tech }}</li>
              {% endfor %}
            </ul>
            <br />
          </div>

          <div>
            <br /> <!-- wtf -->
            {{ content | markdownify }}
          </div>

          <h3>What's on Tap at {{page.pub-name}}</h3>
<!-- TODO reuse guts of offering loop in offerings page -->
          <div class="offeringSummary">
            <ul>
               {% for offering in site.offerings %}
                 {% if offering.tender-id == page.tender-id %}
                 <li>
                   <div class="offeringName"><a href="{{ offering.id }}">{{ offering.name }}</a></div>
                   <!-- fix above to derive tender name from offering, or something better -->
                   <!-- TODO truncate at twelve words -->
                   <div class="offeringDetails">
                     <p><em>{{ offering.twelve-words-or-fewerblurb }}</em></p>
                     <p>{{ offering.summary-blurb-300-words }}<br />
                       <strong>Upcoming dates:</strong> TBD<br />
                       <strong>Technologies: </strong> 
                       {% capture techs = "" %}
                       {% for tech in offering.technologies %}
                         {{ tech }}{% if forloop.last == false %},{% endif %}
                       {% endfor %}
                       {% endcapture %}
                       {{ techs }}
                       <br />
                     </p>
                   </div>
                 </li>
                 {% endif %}
               {% endfor %}
            </ul>
          </div>

          <h3>About Your Tender</h3>
          <p>{{ page.tender-blurb }}</p>
          
          <h3>About <a href="{{page.company-link}}">{{ page.company }}</a></h3>
          <p>{{ page.company-blurb }}</p>
          <a href="{{ page.company-link }}"><img src="{{ page.company-logo-url }}" alt="{{ page.company }}"/></a>
          
        </div>
      </div>
    </article>
    {{ page.post-content }}
     <div>
    </div>
     <footer>
      <div class="footerbar"></div>
      <div class="grid">
        <div class="content">
          <div class="indent">
          {% include footer.html %}
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
