---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body id="{{page.pagename}}" class="tender">
    <header>
      <div class="grid">
        <div class="content">
          {% include header.html %}
         </div>
      </div>
    </header>
    {{ page.pre-content }}
    <article>
      <div class="grid">
        <div class="content">
          <div class="indent">
          <h3>Welcome to {{page.pub-name}}</h3>
          <p>Your tender: {{page.tender-name}}</p>
          <img src="/assets/images/{{ page.id }}.{{page.tender-photo-extension}}" style="width: 225px" />
          </div>

          <div>
            <ul class="tech">
              {% for tech in page.technologies %}
                <li>{{ tech }}</li>
              {% endfor %}
            </ul>
            <br />
          </div>

          <div>
            <br /> <!-- wtf -->
            {{ content | markdownify }}
          </div>

          <h3>What's on Tap at {{page.pub-name}}</h3>
		</br></br>
		  
<!-- TODO reuse guts of offering loop in offerings page -->
          <div class="offeringSummary">
			  <div id="accordion">
                {% for offering in site.offerings %}
                  {% if offering.tender-id == page.tender-id %}
			    <div class="card">
			      <div class="card-header" id="heading-{{forloop.index}}">
			        <h5 class="mb-0">
			          <button class="btn btn-link collapse-btn" data-toggle="collapse" data-target="#collapse-{{forloop.index}}" aria-expanded="true" aria-controls="collapse-{{forloop.index}}">
						<p>{{ offering.name }}</p>
			          </button>
					{% assign offeringBlurb = offering.twelve-words-or-fewer | split: " " | slice: 0, 12 | join: " " %}
				</br>
					<strong class="offeringBlurb">{{ offeringBlurb }}</strong>
			        </h5>
			      </div>

			      <div id="collapse-{{forloop.index}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
			        <div class="card-body">
                      </br>
					  <div class="offeringDescription">{{ offering.summary-blurb-300-words | markdownify | truncatewords: 300 }}
                        {% assign summarySize = offering.summary-blurb-300-words | number_of_words %}
                        {% if summarySize > 300 %}...{% endif %}</div>
                        <br />
                          <strong>Upcoming dates:</strong> TBD<br />
                          <strong>Technologies: </strong> 
                          {% capture techs = "" %}
                          {% for tech in offering.technologies %}
                            {{ tech }}{% if forloop.last == false %},{% endif %}
                          {% endfor %}
                          {% endcapture %}
                          {{ techs }}
                          			
			        </div>
			      </div>
			    </div>
			</br>
                  {% endif %}
                {% endfor %}
			  </div>
			  
		  </br></br>
	          <h3>About Your Tender</h3>
	          <p>{{ page.tender-blurb }}</p>
          
	          <h3>About <a href="{{page.company-link}}">{{ page.company }}</a></h3>
	          <p>{{ page.company-blurb }}</p>
	          <a href="{{ page.company-link }}"><img src="{{ page.company-logo-url }}" alt="{{ page.company }}"/></a>
		    </article>
		    {{ page.post-content }}
		     <div>
		    </div>  
			  
          </div>
        </div>
      </div>
	  
	
     <footer>
      <div class="footerbar"></div>
      <div class="grid">
        <div class="content">
          <div class="indent">
          {% include footer.html %}
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
